.row {
    margin: 0;
}
html * {
   font-family: "open sans", helvetica, sans-serif;
   color: black;
}
a {
    text-decoration:none;
}
h3 {
    color: #37c;
    font-size: 22px;
    margin-top:5px;
    margin-bottom:5px;
    font-weight:bold;
}
p {
    font-size:16px;
    font-weight:300;
}
#topPic {
    padding:0;
}
.mobilePadding {
    padding-right:35px;
    padding-left:35px;
}
#bioDescription {
    font-size:16px;
    text-align:center;
    font-weight:600;
}
#travelDescription {
    text-align:center; font-style:italic; font-weight:normal;
}
.articleLink {
    border: 1px solid gray;
}
.photoContainer {
    margin: auto;
    padding:0;
    text-align: center;
    display:inline-block;
}
.photoSpacingRight {
    width:40px;
    display:inline-block;
}
.photoSpacingLeft {
    width:15px;
    height:100%;
    display:inline-block;
}
#nameSmall {
    position: relative;
    font-size:35px;
    top: 40%;
    text-align: center;
    color: white;
    font-family:'Pacifico';

}
#mobileNavButton {
    background-color: black;
    border-radius:4px;
}
.colorWhite {
    color:white;
}
.topButtonContainers {
    text-align:center; 
    position:relative; 
    top:42%;
}
.standardTextAlignCenter {
    text-align:center;
}
.topButton {
    color: #FFF; 
    text-decoration: none;
    font-size: 25px;
    margin-right:10px;
    margin-left:10px;
    width: 125px;
}
.resumeButton {
    background-color: #37c;
    border-color: #37c;
}
.contactButton {
    background-color: forestgreen;
    border-color: forestgreen;
}
.contactButton:hover {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}
.picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/myPhotoBlackWhite.jpg");
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
}
.mobilePic {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./images/mobileMyPhotoBlackWhite.JPG");
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
}
.line {
    line-height: .5;
}
#title {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: black;
    margin-top: 20px;
}

#about-image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px gray;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url("./images/about-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutMe {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
    border-radius:25px;
    border: 1px solid gray;
    text-align:center;
}
.aboutMe:hover {
    border: 3px solid black;
}
#subtitle {
    color:  forestgreen;
    font-size: 16px;
    margin-top:-1px;
    font-weight:bold;
}
#location {
    color: black;
    font-size: 16px;
    font-weight:bold;
    margin-top:2px;
    margin-bottom:5px;
}
.round {
    border-radius:100%;
    box-shadow: 0px 0px 10px gray;
}
.space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.background1 {
    background-color:floralwhite;
    padding-top: 20px;
    padding-bottom: 40px;
}

.background2 {
   background-color:#e7e7e7;
    padding-top: 10px;
    padding-bottom: 40px;
}

.photo {
    display:inline-flex;
    margin-top: 10px;
    -webkit-filter: grayscale(100%);
    color:white;
    border-radius:100%;
    margin-right:5px;
    margin-left:5px;

}

.photo:hover {
    -webkit-filter: grayscale(0%);
}
h2 {
    text-align:center;
    font-weight:lighter;
}
.bottomImg {
    width:125px;
    width:125px;
    display:inline-block;
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}
/*line header from: http://vclever.com/blog/how-to-style-a-heading-with-horizontal-lines-either-side-using-css/*/
h1 {
 overflow: hidden;
 text-align: center;

}
h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

.arrow {
    background-color: black;
    z-index: 3;
    border-radius: 10px;
    text-align:center;
    vertical-align:middle;
    width: 35px;
    height: 35px;
}
.arrow:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}
.mobile-top {
    position: fixed;
    left: 5px;
    top: 5px;
    z-index: 5;
}
.dropdown-menu-left {
    position: absolute;
    left:-6px;
    top:-8px;
    margin: 0px;
    padding: 0px;
}
.closeMobile {
    text-align: left;
    padding-left: 30px;
    padding-top:15px;
    font-weight:300;
    height:40px;
    font-size: 20px;
}
.dropdown-item {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 5px;
    font-weight:300;
    font-family: "open sans", helvetica, sans-serif;
    border-bottom: 1px solid #eee;
    height: 40px;
    width:90%;
    margin:auto;
}
#upArrow {
    position: fixed;
    bottom: 75px;
    right: 20px;
}
#downArrow {
    position: fixed;
    bottom: 35px;
    right: 20px;
}
.navArrow {
    font-size:16px;
    padding-top:10px;
    padding-left:1px;
    color:white;
}